<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>仿JM的多种动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>162A2B851D4852F40075B137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>162A2B9E1D4852F50075B137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>162A2BA91D4852F50075B137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
